/*
============================================
; Title:  Program Header
; Author: Professor Krasso 
; Date:   03 July 2018
; Modified By: Joshua Arrants
; Description: Use to style a site.
;===========================================
*/ 

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
}
 th {
    text-align: left;
    background-color: #4885B7;
    color: white;
 }

tr:nth-child(even){
    background-color: #B3C4E2;
}
